.buttons {
  text-align: center;
}

.button_active {
  background: yellow;
}

.c_buttons {
  text-align: center;
}

.c_button_active {
  background: yellow;
}

.center_text {
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
}


